[submodule "doc/wiki"]
	path = doc/wiki
	url = https://github.com/NOAA-GFDL/MDTF-diagnostics.wiki.git
[submodule "src/cmip6-cmor-tables"]
	path = src/cmip6-cmor-tables
	url = https://github.com/tsjackson-noaa/cmip6-cmor-tables.git
