# This Travis-CI file only runs unit tests on the MDTF code.
# It does not make use of external test data and does not test the scientific 
# content of individual diagnostics.
language: python
sudo: required
python: '2.7' # only supported version, for now

branches:
  only:
    - master
    - develop
    - /^feature/ 

install:
# miniconda setup taken from official guide at 
# https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/use-conda-with-travis-ci.html
  - sudo apt update
  # We do this conditionally because it saves us some downloading if the
  # version is the same.
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - source "$HOME/miniconda/etc/profile.d/conda.sh"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a

  # MDTF-specific setup
  - ./src/conda_env_setup.sh --all # sets up all conda environments

script:
  - ./mdtf --version # trivial check that install script worked
  - python -m unittest discover